<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.i_go">

    <application
        android:name=".PatientApp"
        android:allowBackup="true"
        android:icon="@mipmap/igo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/igo_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.I_GO">
        <activity
            android:name=".feature_note.presentation.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.I_GO">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>